.myProjectBlock {
    min-height: 100vh;
    background-color: #82ee87;
    display: flex;
    justify-content: center;
}
.myProjectContainer {
    flex-direction: column;
    justify-content: flex-start;

}
.title {
    background-color: white;
    margin-bottom: 80px;
    margin-top: 20px;
}
.myProjects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}