.buttonStyle {
    text-decoration: none;
    color: white;
    font-size: 20px;
    height: 50px;
    min-width: 90px;
    background-color: #8ddb76;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 20px;

}
