.RemoteWorkContainer {
    width: 100%;
    min-height: 30vh;;
    display: flex;
    justify-content: center;
    align-items: center;


}
.RemoteWorkBlock {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #ffd078;
    margin-bottom: 40px;
}

.buttonBlock  button{

}