.skillsBlock {
    min-height: 100vh;
    background-color: #fff98e;
    display: flex;
    justify-content: center;

}

.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    margin-top: 20px;
    background-color: white;
    margin-bottom: 80px;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}